<ion-view  class='bg-grey'>
	<ion-nav-title>
	 <div class='color-yellow text-center myText'>پیک های من</div>
    </ion-nav-title>
	<ion-content  >
		<div id='my-trip-container' class='h-100-p  set-bg'>
			<div id='head-tab-area' class='row no-padding text-center color-gery bg-dark2'>
				<div class='col col-50 ' ng-class='{active: myTrip_menu_selected == $index }' ng-click='Trip_menu_click($index)' ng-repeat='menu in myTrip_menu'><div class='Menu-tab-head myText'>{{ menu.name | menuLangTranslate: appConvertedLang['ALL_RIDES'] : appConvertedLang['COMPLETED'] : appConvertedLang['BOOKED'] }}</div></div>
			</div>

			<div id='content-tab-area' class='visible' >
				<ion-scroll direction="y" style='height: 100% ;direction: rtl' >
          <a href="#/app/tripDetials" ng-click='show_details(item.uid)' class="item item-icon-left item-icon-right color-gery " ng-repeat='item in active_trip' href="#">
            <i class="icon ion-ios-arrow-back f-size-25 color-d-gery"></i>
            <p class='color-yellow f-size-17 myText'>{{item.source}}</p>
            <p class='color-yellow f-size-17 myText'>{{item.destination}}</p>
            <span class='f-size-12 color-gery myText'><i>{{item.time}} {{item.date}} </i></span>
            <i class="icon ion-ios-cog f-size-25 color-d-gery"></i>
          </a>
				</ion-scroll>
			</div>

		</div>
		<div class='color-white text-center net-error myText' >به اینترنت متصل نیستید</div>
	</ion-content>
</ion-view>
