<ion-view  class='bg-grey'>
	<ion-content  >
	<div  style='height: 100%;'>
	  <div class='content-box'>
			<div id='login-from-box' class='m-top-20 settings' >
		<p  class="text-center color-yellow bg-dark1 p-head no-margin">تغییر رمز عبور</p>
					<div id='update-form' class='bg-' ng-form='sign_up_form' >
						<div class='input-box'>
							<div class="error-container " ng-show="sign_up_form.pwd.$dirty && sign_up_form.pwd.$invalid" >
								<small class="error	 " ng-show="sign_up_form.pwd.$error.required">رمز عبور جدید</small>
								<small class="error	 " ng-show="sign_up_form.pwd.$error.minlength">حداقل ۶ کراکتر</small>
							</div>
							<input style="direction: rtl" name='pwd' ng-model='signUp.pwd' placeholder="رمز عبور" class='color-yellow' ng-minlength='6' type='password' required/>
							<img class='input-icon icon-20' src='img/icons/lock.png'/>
						</div>
						</br>

						<div class='input-box'>
							<div class="error-container" ng-show="sign_up_form.pwd.$dirty ">
								<small class="error " ng-show="(signUp.pwd != signUp.c_pwd) ">رمز عبور مشابه نیست</small>

							</div>
							<input style="direction: rtl" name='c_pwd' ng-model='signUp.c_pwd' placeholder="تکرار رمز عبور" class='color-yellow' type='password' required/>
							<img class='input-icon icon-20' src='img/icons/lockTick.png'/>
						</div>

	<input ng-click='do_update(sign_up_form)'  class='btn bg-yellow color-white big-font m-top-20' type='button' value="بازیابی رمز عبور" />

					</div>

			</div>
		</div>
	</div>
	<div class='color-white text-center net-error' >No network connection!</div>
  </ion-content>

</ion-view>
