<ion-modal-view id='sign-up-page' class='set-bg' class='bg-grey'>

  <ion-content style="direction: rtl">
    <div style='height: 100%;'>
      <div class='head-bar bg-black'>
        <p class='vertical-middle text-center color-yellow big-font'>ثبت نام</p>
        <div class='close-icon' ng-click="closeSignUp()">
          <img class='vertical-middle icon-25 ' src='img/icons/close.png'/>
        </div>
      </div>

      <div class='content-box'>
        <div id='login-from-box' class='m-top-20' ng-form='sign_up_form'>
          <div class='main-container'>

            <!-- <div ng-show='signUp.error_list.length' class='text-center  m-top-20'>
                          <span ng-repeat='error in signUp.error_list' class="error d-block">{{error.message}}</span>
                      </div> -->

            <div class='input-box'>
              <div class="error-container " ng-show="sign_up_form.name.$dirty && sign_up_form.name.$invalid">
                <small class="error	 " ng-show="sign_up_form.name.$error.required">نام خود را وارد کنید</small>
              </div>

              <input name='name' ng-model='signUp.name' placeholder="نام" class='color-yellow' type='text' required/>
              <img class='input-icon icon-20' src='img/icons/user.png'/>
            </div>
            </br>

            <div class='input-box'>
              <div class="error-container " ng-show="sign_up_form.user_name.$dirty && sign_up_form.user_name.$invalid">
                <small class="error	 " ng-show="sign_up_form.user_name.$error.required">نام کاربری خود را وارد کنید
                </small>
                <small class="error	 " ng-show="sign_up_form.user_name.$error.minlength">حداقل ۶ کراکتر</small>

              </div>

              <input name='user_name' ng-model='signUp.user_name' placeholder="نام کاربری" class='color-yellow'
                     type='text' ng-minlength='6' required/>
              <img class='input-icon icon-20' src='img/icons/user.png'/>
            </div>
            </br>

            <div class='input-box'>
              <div class="error-container " ng-show="sign_up_form.number.$dirty && sign_up_form.number.$invalid">
                <small class="error	 " ng-show="sign_up_form.number.$error.minlength">یک شماره معتبر وارد کنید</small>
                <small class="error	 " ng-show="sign_up_form.number.$error.maxlength">یک شماره معتبر وارد کنید</small>
              </div>

              <input name='number' placeholder="شماره موبایل" ng-model='signUp.mobile' type='number'
                     class='color-yellow' type='text' ng-minlength="11" ng-maxlength="11" required/>
              <img class='input-icon icon-20' src='img/icons/mobile.png'/>

            </div>
            </br>

            <div class='input-box'>
              <div class="error-container " ng-show="sign_up_form.mail.$dirty && sign_up_form.mail.$invalid">
                <small class="error	 " ng-show="sign_up_form.mail.$error.email">یک ایمیل معتبر وارد کنید</small>
              </div>

              <input name='mail' type='email' ng-model='signUp.mail' placeholder="ایمیل" class='color-yellow'
                     type='text'/>
              <img class='input-icon icon-20' src='img/icons/mail.png'/>
            </div>
            </br>

            <div class='input-box'>
              <div class="error-container " ng-show="sign_up_form.pwd.$dirty && sign_up_form.pwd.$invalid">
                <small class="error	 " ng-show="sign_up_form.pwd.$error.required">رمز عبور</small>
                <small class="error	 " ng-show="sign_up_form.pwd.$error.minlength">حداقل ۶ کراکتر</small>
              </div>
              <input name='pwd' ng-model='signUp.pwd' placeholder="رمز عبور" class='color-yellow' ng-minlength='6'
                     type='password' required/>
              <img class='input-icon icon-20' src='img/icons/lock.png'/>
            </div>
            </br>

            <div class='input-box'>
              <div class="error-container" ng-show="sign_up_form.pwd.$dirty ">
                <small class="error " ng-show="(signUp.pwd != signUp.c_pwd) ">رمز عبور یکسان نیست</small>

              </div>
              <input name='c_pwd' ng-model='signUp.c_pwd' placeholder="تایید رمز عبور" class='color-yellow'
                     type='password' required/>
              <img class='input-icon icon-20' src='img/icons/lockTick.png'/>
            </div>

            <div class="m-top-20">
              <div>
                <button ng-click="chose('DRIVER')" style="margin: 0 auto;width: 80%;font-size: large"
                        class="btn bg-yellow color-white big-font">عکس راننده
                </button>
              </div>
              <div class="m-top-10">
                <button ng-click="chose('LICENSE')" style="margin: 0 auto;width: 80%;font-size: large"
                        class="btn bg-yellow color-white big-font">عکس گواهینامه
                </button>
              </div>
              <div class="m-top-10">
                <button ng-click="chose('CAR')" style="margin: 0 auto;width: 80%;font-size: large"
                        class="btn bg-yellow color-white big-font">عکس کارت ماشین
                </button>
              </div>
              <div class="m-top-10">
                <button ng-click="chose('INSURANCE')" style="margin: 0 auto;width: 80%;font-size: large"
                        class="btn bg-yellow color-white big-font">عکس بیمه نامه
                </button>
              </div>
              <ion-list show-delete="true"
                        show-reorder="false"
                        can-swipe="true">
                <ion-item ng-repeat="item in items"
                          class="item-thumbnail-left">
                  <img ng-src="{{item.thumbnail}}"/>
                  <ion-option-button class="button-info"
                                     ng-click="preview(item)">
                    مشاهده
                  </ion-option-button>
                  <ion-delete-button class="ion-minus-circled"
                                     ng-click="remove(item)">
                  </ion-delete-button>
                </ion-item>
              </ion-list>
            </div>

            <input ng-click='do_signUp(sign_up_form)' class='btn bg-yellow color-white big-font m-top-20' type='button'
                   value="ثبت نام"/>

          </div>
        </div>
      </div>
    </div>
    <div class='color-white text-center net-error'>به اینترنت متصل نیستید</div>
  </ion-content>
</ion-modal-view>

<script id="templates/select.html" type="text/ng-template">
  <ion-modal-view style="min-height: 150px;top: 80%">
    <ion-header-bar class="bar bar-header bar-positive" style="background-color: #F84E0E">
      <button class="button button-clear button-primary myText" ng-click="mainModal.hide()">بستن</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="modal" style="z-index:100;min-height:130px">
        <div ng-click="gallery()"
             style="text-align: center;direction:rtl;padding-right:1%;width: 50%;float: right;font-size: xx-large"
             class="ion-ios-photos"></div>
        <div ng-click="camera()"
             style="text-align: center;direction:rtl;padding-right:1%;font-size: xx-large"
             class="ion-camera"></div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
