@font-face {
  font-family: 'myFont';
  src:        url('../lib/ionic/css/font/Far_TwoLight.eot');
  src:
    url('../lib/ionic/css/font/Far_TwoLight.woff') format('woff'),
    url('../lib/ionic/css/font/Far_TwoLight.ttf') format('truetype'),
    url('../lib/ionic/css/font/Far_TwoLight.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
.myText {
  font-family: myFont;
  font-size: medium;
}
